main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.rating span {
  margin: 0.1em;
}

.carousel-control-next-icon {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/271/271228.svg")
}

.carousel-control-prev-icon {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/271/271220.svg")
}

.card {
  max-height: 450px;
}

.sneaks {
  width: 40px
}